<div class="jumbotron mt-4 animated zoomIn text-center">
<p>Gracias por comunicarte con nosotros! atenderemos tu consulta si es asi necesario :)</p>
<a href="/allproducts" class="btn btn-success btn-lg btn-block p-4">Volver a ver Productos!</a>

</div> 