<div id="home">
  <div class="landing">
    <div class="home-wrap">
      <div class="home-inner">

      </div>
    </div>
  </div>
 <div class="caption text-center">
   <h1>Historiadores de San Luis</h1>
   <h3>Articulos profesionales</h3>
    <a class="btn btn-outline-light btn-lg" role="button" aria-disabled="true"  href="#articulos">Ver Articulos!</a>

    </div> 
 </div>



<div id="about" class="offset">
<div class="cointainer">
<div class="col-12 narrow text-center">
  <h3>Acerca de Nosotros:</h3>
  <hr class="divider" />
  <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi earum iste consequatur
     eveniet similique voluptas repellat accusamus perferendis possimus? Delectus blanditiis iste a quaerat
      iusto reprehenderit nihil vitae sunt perspiciatis.</p>
</div>
</div>
</div>
<div id="photo1">
  <div class="container h-100">

  </div>

</div>
<div id="articulos" class="offset">
<div class="col-12 narrow text-center">
  <h3>Articulos:</h3>
  <hr class="divider" />
  <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi earum iste consequatur
     eveniet similique voluptas repellat accusamus perferendis possimus? Delectus blanditiis iste a quaerat
      iusto reprehenderit nihil vitae sunt perspiciatis.</p>
      <a class="btn btn-success btn-md" href="/allproducts" target="_blank">Ver Publicaciones</a>
</div>
</div>
<div id="photo2">
<div class="container h-100">
    
  </div>
</div>
<div id="contact" class="offset">

  <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 narrow text-center">
      <h3>Contacto:</h3>
      <hr class="divider" />
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae consequuntur
         error laudantium saepe. Dolores, dolorum? Nihil quia, asperiores dolore sed odit
          tempore, laudantium laborum laboriosam vero placeat totam cumque doloremque.</p>
          <strong>Contacto informacion</strong>
          <p>2664 323 848 <br> email@email.com</p>
          <a href=""><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href=""><i class="fa fa-twitter-square fa-2x"></i></a>
          <a href=""><i class="fa fa-instagram fa-2x"></i></a>
    </div>
    
  </div>
  <div class="row justify-content-center">
    
   <p> &copy; Ciru webs papurri</p>
    
  </div>
  </div>

</div>
