<div id="home">
  <div class="landing">
    <div class="home-wrap">
      <div class="home-inner">

      </div>
    </div>
  </div>
 <div class="caption text-center">
   <h1>Historiadores de San Luis</h1>
   <h3>Articulos profesionales</h3>
    <a class="btn btn-outline-light btn-lg" role="button" aria-disabled="true"  href="#articulos">Ver Articulos!</a>

    </div> 
 </div>



<div id="about" class="offset">
<div class="cointainer">
<div class="col-12 narrow text-center">
  <h3>Acerca de Nosotros:</h3>
  <hr class="divider" />
  <p class="lead">Los historiadores de San Luis somos un grupo de investigadores especializados en el campo de la Historia y que tomamos temas de la provincia de San Luis para sus trabajos. Tenemos por lo general una formación específica en el ámbito de la Historia y aspiramos a ir sumando, día a día, a otros historiadores que compartan los objetivos de ampliar el conocimiento histórico de nuestra provincia y la región a la que pertenece. -</p>
</div>
<div class="row">
        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img class="pic3" src="img/t1.png" alt=""></div>
            <h4>Néstor Pedro Menéndez</h4>
            <span>Escritor, docente e historiador</span>
            <div class="social">
              
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img class="pic3" src="img/t2.png" alt=""></div>
            <h4>Guillermo Gennini</h4>
            <span>Historiador</span>
            <div class="social">
              
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img class="pic3" src="img/t3.png" alt="" ></div>
            <h4>Melody Vera</h4>
            <span>Historiadora</span>
            <div class="social">
              
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="member">
            <div class="pic">
              
              <img class="pic3" src="img/t4.png" alt="" >
             
            </div>
            <h4>Juan Manuel Menendez Zoppi</h4>
            <span>Diseñador</span>
            <div class="social">
            
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        
      </div> 

</div>
</div>
<div id="photo1">
  <div class="container h-100">

  </div>

</div>
<div id="articulos" class="offset">
<div class="col-12 narrow text-center">
  <h3>Articulos:</h3>
  <hr class="divider" />
  <p class="lead">Aquí encontrarás: artículos cortos, biografías, entrevistas, fotografías, libros de la historia de San Luis</p>
      <a class="btn btn-success btn-md" href="/allproducts" target="_blank">Ver Publicaciones</a>
</div>
</div>
<div id="photo2">
<div class="container h-100">
    
  </div>
</div>
<div id="contact" class="offset">

  <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 narrow text-center">
      <h3>Contacto:</h3>
      <hr class="divider" />
      <p>Si necesitas saber algo mas o quieres realizar alguna consulta, no dudes en comunicarte por nuestros cualquiera de nuestros medios</strong>
          <p>2664 50 70 30<br> historiadodesdesanluis@gmail.com</p>
          <a href="https://www.facebook.com/Historiadores-de-San-Luis-101157691597551/"><i class="fa fa-facebook-square fa-2x"></i></a>

          <a href="https://www.instagram.com/historiadoresdesanluis/"><i class="fa fa-instagram fa-2x"></i></a>
    </div>
    
  </div>
  <div class="row justify-content-center">
    
 
    
  </div>
  </div>

</div>
