
<nav class="navbar navbar-expand-lg navbar-dark  fixed-top">
  <a class="navbar-brand" href="http://localhost:4000/">Historiadores de San Luis</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://historiadoresdesanluis.com/#home">Inicio</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://historiadoresdesanluis.com/#about">Acerca</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://historiadoresdesanluis.com/#articulos">Articulos</a>
      </li>
      <li class="nav-item active">       {{!-- localhost:4000 --}}
        <a class="nav-link" href="http://historiadoresdesanluis.com/#contact">Contacto</a>
      </li>
      {{#if user}} 
    <li class="nav-item active">
            <a class="nav-link" href="/products/add" >Agregar Producto</a>
        </li>
    <li class="nav-item active">
            <a href="/users/cerrar" class="nav-link">Cerrar Session</a>
        </li>
        
    {{else}}
        <li class="nav-item"><a class="nav-link">-</a>
        </li>
        {{/if}}
  </ul>
</div>
</nav>

{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light static-top ">
  <a class="navbar-brand" href="#">
      
      Tienda Virtual</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contacto</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Productos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/products/ctg1">Cat1</a>
          <a class="dropdown-item" href="/products/ctg2">Cat2</a>
          <a class="dropdown-item" href="/products/ctg3">Cat3</a>
          <a class="dropdown-item" href="/products/ctg4">Cat4</a>
          <a class="dropdown-item" href="/products/ctg5">Cat5</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/allproducts">Todos</a>
          
        </div>
      </li>
    </ul>
    
    <ul class="navbar-nav ml-auto">
    </form>
    <li class="nav-item">
      <a href="https://www.facebook.com/DetallesAlmacenDeJuguetes " class="nav-link" > <i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a>
    </li>
    <li class="nav-item">
      <a href="https://www.instagram.com/detalles.jugueteria/" class="nav-link"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
    </li>
    {{#if user}} 
    <li class="nav-item">
            <a href="/products/add" class="nav-link">Agregar Producto</a>
        </li>
    <li class="nav-item">
            <a href="/users/cerrar" class="nav-link">Cerrar Session</a>
        </li>
        
    {{else}}
        <li class="nav-item"><a class="nav-link">-</a>
        </li>
        {{/if}}
        
    </ul>
  </div>
</nav> --}}